header {
    background-color: #134C8F;
    color: white;
    text-align: left;
    padding: 40px 40px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-sizing: border-box;
}
footer {
    background-color: #134C8F;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed; 
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1000;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding-top: 100px;
    padding-bottom: 60px; 
}
.redes-sociales a i{
    color: white;
}
.redes-sociales a  {
    font-size: 2em;
    color: #134C8F;
    opacity: 0.9;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50%;
}
.redes-sociales a i:hover{
    transform: scale(1.2);
    color: #3f7abc;
}
.container {
    margin: 20px;
    margin-top: 70px;
    justify-content: center;
    align-items: center;
    display: none;
}
.imagenes img:hover{
    transform: scale(1.1);
}
.container td {
    padding: 20px;
}
.container img {
    cursor: pointer;
}