header {
    background-color: #134C8F;
    color: white;
    text-align: left;
    padding: 40px 40px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-sizing: border-box;
}

footer {
    background-color: #134C8F;
    color: white;
    text-align: center;
    padding: 20px;
    height: 8%; 
    width: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 1000;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding-top: 100px;
    padding-bottom: 60px; 
}

.redes-sociales a i {
    color: white;
}

.redes-sociales a {
    font-size: 2em;
    color: #134C8F;
    opacity: 0.9;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50%;
}

.redes-sociales a i:hover {
    transform: scale(1.2);
    color: #3f7abc;
}

.container {
    margin: 20px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    display: none;
}

.container td {
    padding: 20px;
}

.imagenes-button {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    justify-items: center;
}

.container img {
    cursor: pointer;
}

.imagenes-button img:hover {
    transform: scale(1.1);
}
.tabla-imagenes {
    display: flex;
    flex-direction: column; 
    align-items: flex-end; 
}

.tabla-imagenes img {
    width: 500px;
    cursor: pointer;
    margin-bottom: 10px;
}

/* Estilos Responsivos */
@media (max-width: 768px) {
    header {
        padding: 20px 20px;
    }

    footer {
        padding: 10px;
        height: auto;
    }
    .imagenes-button {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }

    .texto {
        margin-right: 0;
        text-align: center;
    }

    .texto h1 {
        font-size: 20px;
    }

    .texto p {
        font-size: 16px;
    }

    .tabla-imagenes img {
        width: 100%;
    }

    .redes-sociales a {
        font-size: 1.5em;
        margin: 5px;
    }
}

.carrusel {
    position: relative;
    margin: 50px auto; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-carrusel {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.8);
}

.popup-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 80%;
    max-width: 1000px;
    top: 15%;
}

.popup-slides img {
    width: 100%;
    display: none;
}

.popup-slides img.active {
    display: block;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev {
    left: -30px;
    width: 2%;
    border-radius: 30px 0 0 30px;
    background-color: rgb(85, 87, 90);
}

.next {
    right: -40px;
    width: 2%;
    border-radius: 0 30px 30px 0;
    background-color: rgb(85, 87, 90);
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.container-simulador0 {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    margin: 20px;
    font-family: Raleway;
}

.texto {
    margin-right: 400px;
}

.texto h1 {
    font-size: 25px;
}

.texto p {
    font-size: 18px;
}

